<footer class="site-footer clearfix">
    <div class="col-4">
        <div><img src="/assets/images/logo-light.svg"></div>
    </div>
    <div class="col-8 text-right">
        <a href="/features" class="footer-link">Features</a>
        <a href="/features" class="footer-link">Pricing</a>
        <a href="/features" class="footer-link">About us</a>
        <a href="/features" class="footer-link">Contact</a>
    </div>
</footer>

<!-- JS -->
<!-- build:js /assets/javascript/all.min.js -->
<script src="/assets/javascript/javascript.js"></script>
<!-- endbuild -->
