<div class="footer-signup">
    <div class="wrap clearfix">
        <div class="col-8">
            <h3 class="no-mar">Create a free account and get started today</h3>
        </div>
        <div class="col-4 text-right">
            <a class="btn primary large">Create free account</a>
        </div>

    </div>
</div>

<footer class="site-footer clearfix">
    <div class="wrap clearfix">
<!--         <div class="col-4">
            <div><img src="/assets/images/logo-light.svg"></div>
        </div> -->
        <div class="col-8">
            <h4 class="text-light">Navigation</h4>
            <a href="/" class="footer-link">Start</a>
            <a href="/features" class="footer-link">Features</a>
            <a href="/pricing" class="footer-link">Pricing</a>
            <a href="/about" class="footer-link">About us</a>
            <a href="/contact" class="footer-link">Contact</a>
        </div>
        <div class="col-4">
            <h4 class="text-light">Sign up for our newsletter</h4>
            <form method="POST" action="http://gansub.com/s/R85yu48cuW48Se1hjOry/">
                <div class="clearfix">
                    <div class="col-8">
                        <input type="text" id="email" placeholder="Enter your email..." name="email" />
                    </div>
                    <div class="col-4">
                        <input class="btn primary" type="submit" value="Subscribe" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</footer>

<!-- JS -->
<!-- build:js /assets/javascript/all.min.js -->
<script src="/assets/javascript/javascript.js"></script>
<!-- endbuild -->
