<div class="footer-signup">
    <div class="wrap clearfix mobile-center">
        <div class="col-8">
            <h3>Crea una cuenta gratuita y comienza hoy mismo</h3>
        </div>
        <div class="col-4 text-right mobile-center">
            <a href="https://app.getanewsletter.com/signup/?c=tPy37ktV" class="btn primary large">Crea una cuenta gratuita</a>
        </div>

    </div>
</div>

<footer class="site-footer clearfix">
    <div class="wrap clearfix">
<!--         <div class="col-4">
            <div><img src="/assets/images/logo-light.svg"></div>
        </div> -->
        <div class="col-8">
            <h4 class="text-light">Navegación</h4>
            <a href="/" class="footer-link">Start</a>
            <a href="/características" class="footer-link">Características</a>
            <a href="/precios" class="footer-link">Precios</a>
            <a href="/nosotros" class="footer-link">Nosotros</a>
            <a href="/contacto" class="footer-link">Contacto</a>
        </div>
        <div class="col-4">
            <h4 class="text-light">Suscríbete a nuestro boletín</h4>
            <form method="POST" action="http://gansub.com/s/sCnwGufVByh/">
                <div class="clearfix">
                    <div class="col-8">
                        <input type="text" id="email" placeholder="Ingrese su correo electrónico…" name="email" />
                    </div>
                    <div class="col-4">
                        <input class="btn primary" type="submit" value="Suscribirse" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</footer>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8112826-4', 'auto');
    ga('send', 'pageview');
</script>

<script>
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0030/2028.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/4.0.1/placeholders.min.js"></script>
<!-- JS -->
<!-- build:js /assets/javascript/all.min.js -->
<script src="/assets/javascript/javascript.js"></script>
<!-- endbuild -->
