@charset "utf-8";

//
// GANCSS
// Import files as you need them
//


// -------------------------------------------------------------
// # Tools
// -------------------------------------------------------------

@import "gancss/src/scss/tools/settings";
@import "gancss/src/scss/tools/mixins";
@import "gancss/src/scss/tools/helpers";


// -------------------------------------------------------------
// # Base
// -------------------------------------------------------------

@import "gancss/src/scss/base/normalize";
@import "gancss/src/scss/base/global";
@import "gancss/src/scss/base/typography";
@import "gancss/src/scss/base/forms";
@import "gancss/src/scss/base/tables";


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

// @import "gancss/src/scss/layout/header";
// @import "gancss/src/scss/layout/footer";
// @import "gancss/src/scss/layout/site";
@import "gancss/src/scss/layout/grid";
@import "layout/grid";
@import "gancss/src/scss/layout/boxes";


// -------------------------------------------------------------
// # Modules
// -------------------------------------------------------------

// @import "gancss/src/scss/modules/accordions";
// @import "gancss/src/scss/modules/alerts";
@import "gancss/src/scss/modules/buttons";
// @import "gancss/src/scss/modules/calendar";
// @import "gancss/src/scss/modules/colorpicker";
// @import "gancss/src/scss/modules/dropdowns";
// @import "gancss/src/scss/modules/icons";
// @import "gancss/src/scss/modules/modals";
// @import "gancss/src/scss/modules/multi-select";
// @import "gancss/src/scss/modules/nav";
// @import "gancss/src/scss/modules/notifications";
// @import "gancss/src/scss/modules/pagination";
// @import "gancss/src/scss/modules/progressbar";
// @import "gancss/src/scss/modules/slider";
// @import "gancss/src/scss/modules/tabs";
// @import "gancss/src/scss/modules/tinymce";
// @import "gancss/src/scss/modules/tooltips";


body, html {
    background: $white;
    min-height: 100%;
    min-width: 0;
}

.wrap {
    margin: 0 auto;
    min-width: 0;
    max-width: 2000px;
    width: 970px;

    @media (max-width: 1100px) { width: 85%; }
    @media (max-width: 800px) { width: 100%; padding: 0 40px; }
}

// Site header

$header-height: 70px;

.site-header {
    background: $white;
    height: $header-height;
    position: fixed;
    z-index: 10000;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.site-logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 17px 30px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: $bold;
    line-height: $header-height;
    color: $black;

    img { width: 230px; }
}

.site-nav, .secondary-nav {
    li { display: inline-block; }
}

.site-nav {
    text-align: center;
}

.site-nav-link:not(.btn),
.site-nav-link:not(.btn):visited {
    color: $blue;
    font-size: $font-size;
    font-weight: $semi-bold;
    height: $header-height;
    line-height: $header-height;
    display: inline-block;
    padding: 0 25px;

    &:hover { background: $light-grey; }
}

.secondary-nav {
    position: absolute;
    top: 0;
    right: 40px;

    .site-nav-link {
        margin-left: 20px;
        font-size: $font-size-medium;

        &:not(.btn) {
            padding: 0;
            color: $dark-grey;

            &:hover {
                background: none;
                color: $black;
            }
        }
    }
}

.language,
.language {
    position: relative;
    top: 4px;
}

.mobile-nav-toggle {
    display: none;
}


// Hero sign up form

.hero-sign-up-form {
    background: rgba($white, .2);
    padding: 20px 20px 4px;
    border-radius: $border-radius;

    input[type="text"],
    input[type="password"] {
        border: 1px solid $white;
        box-shadow: none;

        &:focus { border: 1px solid $black; }
    }

    input[type="submit"] {
        width: 100%;
        margin-bottom: $margin;
    }

    .error { color: $white; }
}

// Mobile nav
@media (max-width: 1200px) {

    .nav-wrap {
        display: none;
        margin-top: 80px;
        border-top: 1px solid $base-grey;
    }

    .mobile-nav-toggle {
        position: absolute;
        top: 22px;
        right: 30px;
        display: inline-block;
        padding: 0 10px;
        font-size: 20px;
    }

    // Modify nav
    .site-header { height: auto; min-height: 70px; }

    .site-nav, .secondary-nav {
        li { display: block; }
    }

    .site-nav-link:not(.btn),
    .site-nav-link:not(.btn):visited,
    .site-nav-link {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid $base-grey;
        display: block;
    }

    .secondary-nav {
        position: static;

        ul {
            text-align: center!important;
            padding-bottom: 20px;
        }

        .site-nav-link {
            display: inline-block;
            margin-left: 0;
        }
    }
}


// Hero

.hero {
    background: $blue;
    background: linear-gradient(135deg, $blue 0%,$blue 50%, darken($blue, 2%) 50%, darken($blue, 2%) 100%);
    padding: 200px 0 130px;
    color: $white;
    position: relative;
    overflow: hidden;

    @media (max-width: 800px) { padding: 100px 0 0; }

    &.page { padding: 200px 0 130px; }

    &.contact {
        background: url("../images/map.png") center;
        background-size: cover;

        &:after {
            content: '';
            background: rgba($blue, .75);
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
        }

        .row, p, img, h2 { position: relative; z-index: 1; }
    }

    &.features {
        background: url("../images/features-bg.jpg") center;
        background-size: cover;

        &.agencies {
            background: url("../images/agencies-bg.jpg") center;
        }

        &:after {
            content: '';
            background: rgba($blue, .9);
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
        }

        .row, p, img, h2 { position: relative; z-index: 1; }
    }

    &.home {
        background: url("../images/start-bg.jpg");
        background-size: cover;
        min-height: 720px;

        @media (max-width: 800px) { min-height: 370px; }

        &:after {
            content: '';
            background: rgba($blue, .6);
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
        }

        .row, p, img { position: relative; z-index: 1; }

        img {
            position: absolute;
            right: 0;
            left: 0;
            margin: 0 auto;
            bottom: -230px;
            width: 860px;
            padding: 0 20px;
        }
    }
}

.btn.bordered.white {
    color: $white;
    box-shadow: inset 0 0 0 2px $white;

    &:hover {
        box-shadow: inset 0 0 0 2px $white;
        color: $black;
        background: $white;
    }
}


// Buttons
.btn.large {
    padding: 0 35px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.btn.bordered {
    background: none;
    color: $dark-grey;
    box-shadow: inset 0 0 0 2px $grey;

    &:hover {
        box-shadow: inset 0 0 0 2px $grey;
        color: $black;
        background: $grey;
    }
}

.btn-group-connected .btn { background: none; width: 50%; }

@media (max-width: 800px) {
    .btn + .btn { margin-left: 0; margin-top: 24px; }

    .btn { display: block; }
}

// Typography

h1, h2, h3, h4, h5 {
    margin-bottom: $margin;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.3;

    @media (max-width: 800px) {
        font-size: 24px;
    }
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

.site-heading {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;

    @media (max-width: 800px) {
        font-size: 30px;
    }
}

.site-heading-ingress {
    margin: $margin 0 $padding;
}

.text-blue {
    color: $blue;
}

.text-light {
    color: lighten($black, 25%);
}

.label {
    font-weight: 600;
    color: $blue;
    position: relative;
    margin-bottom: 50px;

    &:after {
        content: '';
        background: $blue;
        position: absolute;
        top: 150%;
        width: 30px;
        height: 4px;
        left: 50%;
        border-radius: 4px;
        margin-left: -15px;
    }
}


//

table {
    width: 100%;
    background: $white;
    border: 1px solid $base-grey;
}

tr:nth-child(even) td {
    background: $lighter-grey;
}

th {
    text-align: left;
    padding: 20px 30px;
    font-weight: $semi-bold;
    border-bottom: 1px solid $base-grey;
    border-right: 1px solid $base-grey;

    @media (max-width: 800px) {
        padding: 10px;
    }
}

td {
    padding: 12px 30px;
    border-bottom: 1px solid $base-grey;
    border-right: 1px solid $base-grey;

    @media (max-width: 800px) {
        padding: 10px;
    }
}


// Layout

.section {
    padding: 80px 0;
    position: relative;
    overflow: hidden;

    @media (max-width: 800px) {
            padding: 50px 0;
        }

    &.small { padding: 30px 0; }

    &.large {
        padding: 150px 0;

        @media (max-width: 800px) {
            padding: 50px 0;
        }
    }

    &.grey { background: $light-grey; }
}

.features-content {
    margin-top: 60px;
}

.features-image {
    @media (max-width: 800px) {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
}


// Footer

.site-footer {
    background: darken($footer-black, 3%);
    padding: 60px 0 40px;

    .footer-link {
        font-weight: $semi-bold;
        color: $light-blue;
        margin-right: 50px;
        display: inline-block;
        margin-top: 5px;
        font-size: $font-size-medium;

        @media (max-width: 800px) { margin-bottom: 24px; }

        &:hover {
            color: $white;
        }
    }

    h4 {
        font-size: $font-size-medium;
    }

    input[type="text"] {
        border: none;
    }
}

.footer-signup {
    background: $footer-black;
    padding: 40px 0 24px;

    h3 {
        color: $white;
        margin-top: 12px!important;
    }
}


// About

.about-people {
    column-count: 3;
    -webkit-column-gap: 30px;

    @media (max-width: 800px) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

.card {
    background-color: #fff;
    padding: 40px 40px 20px;
}

.about-card {
    background-color: #fff;
    padding: 40px 40px 20px;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;

    .col-8 {
        padding-left: 15px;

        h4 { margin-top: 35px; margin-bottom: 0; }
    }
}

.number-box {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 2px solid #3d7ba4;
    text-align: center;
    border-radius: 20px;
    line-height: 31px;
    margin-right: 10px;
    color: #3d7ba4;
    font-weight: 700;
}

// Media queries
@media (max-width: 800px) {
    .mobile-center { text-align: center!important; }
    .mobile-hide { display: none; }
}

@media (max-width: 1000px) {
    .tablet-hide { display: none; }
}
